* {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a {
  color: none;
}

body {
  background-color: #fdf3f3;
}

div.grid-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

div.NavMenu {
}

div.nav-links {
  padding: 0px 10px;
}

a.nav-link-single {
  font-weight: 700;
  color: #a070a1;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 5px 0px;
  border-radius: 4px;
}

.active {
  transition: 0.3s;
  color: white !important;
  background-color: #a070a1 !important;
}
.pending {
  background-color: green;
}
